<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
  <style>
	body {  background: rgba(255, 255, 255, .4); 
		}
	img{
		display:block; 
		margin-left:auto; 
		margin-right:auto;
		max-width: 100%;
	   }
	img.thumbnail { 
	width: 100px;
	height: 70px;
	}
  </style>
</head>
<body >
<div>
  <div class='center'>
    <div class='title'>Classify Cassava Leaves Diseases 🍃</div>
    <p>
      Use images of <strong>healthy</strong> or <strong>un-healthy</strong> Cassava leaves
    </p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
  </div>
</div>
<img src="images/cassava-diseases.png" alt="Types of Cassava diseases"/>
</body>
</html>
